services:
  mariadb:
    image: mariadb:12.1.2
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: oauth2_authorization_server
      MYSQL_USER: mb_test
      MYSQL_PASSWORD: 'test'
    volumes:
      - data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: unless-stopped
    networks:
      - oauth2-network

  redis:
    image: redis:8.4.0
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - oauth2-network

  redis-insight:
    image: redis/redisinsight:latest
    restart: always
    container_name: redis-insight
    ports:
      - "5540:5540"
    volumes:
      - redis-insight:/data
    networks:
      - oauth2-network

  ollama:
    image: ollama/ollama:0.13.3
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    tty: true
    restart: unless-stopped

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - ollama
    ports:
      - "3000:8080"
    environment:
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY='
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

  lldap:
    image: lldap/lldap:2025-12-12
    container_name: lldap
    environment:
      LLDAP_JWT_SECRET: "superSecretJwtTokenForTestingPurposesOnly123" # The JWT secret should be at least 32 characters long
      LLDAP_LDAP_USER_DN: "admin"
      LLDAP_LDAP_USER_PASS: "admin_pass"
      LLDAP_LDAP_BASE_DN: "dc=mbexample,dc=com"
      LLDAP_HTTP_PORT: "17170"
      LLDAP_LDAP_PORT: "3890"
    ports:
      - "10389:3890"
      - "17170:17170"
    volumes:
      - ldap-data:/data
    restart: unless-stopped
    networks:
      - oauth2-network

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    environment:
      MINIO_ROOT_USER: "minio-admin"
      MINIO_ROOT_PASSWORD: "minio-password"
    volumes:
      - minio:/data
    ports:
      - "9091:9000"
      - "9001:9001"
    command: server /data --console-address :9001

  zipkin:
    image: openzipkin/zipkin:3
    container_name: zipkin
    ports:
      - "9411:9411"

volumes:
  ollama: { }
  open-webui: { }
  data:
  redis-data:
  redis-insight:
  ldap-data:
  minio:

networks:
  oauth2-network:
    driver: bridge